// Base styling
// - applies to all pages
html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}

// ––––––––––––––––––––––––––––––––––––––––––––––––––
// typography
body {
    color: $white;
    font-size: 16px;
    font-family : $font-main;
    font-weight : $normal;
    line-height : 1.4;
    background:
        $radial-overlay,
        $bg-img,
        $black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

@mixin header($sm-size, $lg-size, $line){
    font-size: $sm-size;
    @media only screen and (min-width: 600px) {
        font-size: $lg-size;
    }
    font-weight: $bold;
    line-height: $line;
    margin: 0 0 1rem;
    @content;
}

h1 {
    @include header(2rem, 3.25rem, 1.6);
    text-align: center;
}

h2 {
    @include header(1.7rem, 2.5rem, 1.5);
}

h3 {
    @include header(1.4rem, 2.2rem, 1.6);
}

p {
    font-size : 1.25rem;
    @media only screen and (min-width: 600px) {
        font-size : 2rem;
    }
}

a {
    text-decoration: none;
}

.hidden {
    visibility: hidden;
    height: 0;
    display: none;
}



// ––––––––––––––––––––––––––––––––––––––––––––––––––
// layout
.main-section {
    max-width: 1000px;
    width: 100%;
    margin: 2rem auto 0;
    padding: 0 1rem;
    @media only screen and (min-width: 600px) {
        padding: 0 2rem;
    }
    &:first-child {
        text-align: center;
    }
}
// only applies to sections within <main>
.page-content .main-section:first-child {
    margin-top: 6rem;
    @media only screen and (min-width: 600px) {
        margin-top: 8rem;
    }
}
.row {
    display: flex;
    flex-direction: row;
    > button:nth-child(1) {
        margin-right: 1.25rem;
        @media only screen and (min-width: 600px) {
            margin-right: 2rem;
        }
    }
}
.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}