
// forms
.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding : 1rem;
    margin: 2rem 0;
    border-radius: 0.5rem;
    background-color: $white;
    color:$black;
    font-family: $font-main;
    label, 
    p {
        font-size: 1.25rem;
        margin-bottom : 0.25rem;
    }
}



// text input
.text-input {
    font-family: $font-main;
    font-size: 1.5rem;
    width: 100%;
    display: block;
    margin-bottom: 0.75rem;
    padding: 0.75rem 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid $red;
    &:focus,
    &:active,
    &:disabled {
        border: 2px solid $red-hover;
        background-color: $focus;
    }
}

// text input - error
.error-red,
.error-red:focus {
    background-color : $red;
    border: 2px solid $red-hover;
    color: $white;
}




// radio input
// --- container
.radio-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2rem;
}
// --- individual container
.radio-label {
    display: block;
    position: relative;
    padding-left: 2.5rem;
    margin: 0 1rem 0 0;
    cursor: pointer;
    font-size: 1.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
// --- radio input
.radio-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
// --- custom button
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    width: 2rem;
    background-color: $off-white;
    border-radius: 50%;
}
// --- hover
.radio-label:hover .radio-input ~ .checkmark {
    background-color: $focus;
}
// --- checked
.radio-input:checked ~ .checkmark {
    background-color: $red;
}
// --- dot indicator
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    top: 0.75rem;
    left: 0.75rem;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: $white;
}
// --- dot:checked
.radio-input:checked ~ .checkmark:after {
    display: block;
}


// use a loop for this sort of thing:

// .html + .radio-group .radio-label .radio-input:checked ~ .checkmark {
// background-color: var(--html);
// }
// .css + .radio-group .radio-label .radio-input:checked ~ .checkmark {
// background-color: var(--css);
// }
// .js + .radio-group .radio-label .radio-input:checked ~ .checkmark {
// background-color: var(--js);
// }
// .sql + .radio-group .radio-label .radio-input:checked ~ .checkmark {
// background-color: var(--sql);
// }
// .node + .radio-group .radio-label .radio-input:checked ~ .checkmark {
// background-color: var(--node);
// }






// button & input type=submit
// - reset
.button-input {
    padding: 0;
    border: 0;
    background: transparent;
    display: flex;
    a {
        color: $white;
        &:hover,
        &:focus {
            color: $white;
        }
    }
}

.button-submit {
    align-self: flex-end;
    font-family: $font-main;
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    padding: 1rem;
    border: 0;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color ease-in-out 0.3s;
    color: $white;
    background-color: $red;
    &:hover,
    &:focus {
        background-color: $red-hover;
    }
}

.button-input {
    a {
        @extend .button-submit;
    }
    &.login a {
        background-color: $green;
        &:hover,
        &:focus {
            background-color: $green-hover;
        }
    }  
}
.button-icon {
    font-size: 2.25rem;
    line-height: 0;
}





/* --- button colour */
// .button-submit.html,
// .label-bg.html {background-color: var(--html);}
// .button-submit.js,
// .label-bg.js { background-color: var(--js); color: $black; }
// .button-submit.css,
// .label-bg.css { background-color: var(--css); color: $white; }
// .button-submit.sql,
// .label-bg.sql  { background-color: var(--sql); }
// .button-submit.node,
// .label-bg.node { background-color: var(--node); }
// /* darken on focus */
// .language-search .button-submit:focus {
// filter: saturate(125%) hue-rotate(-10deg) brightness(0.9);
// }






// form customisation

// --- sectioning
.topic-search,
.name-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.language-search,
.language-input {
    margin-top: 1rem;
    border-top: 2px solid $black;
    width: 100%;
}

.form-rows {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}
.language-input {
    display: flex;
    flex-direction: column;
    .form-rows {
        margin-bottom: 1rem;
    }
}






// --- element customisation

// --- create profile
.language-input h3 {
margin-top: 1rem;
}

.form .label-bg {
padding: 0.4rem 0.4rem 0.2rem;
margin: 0;
}

// --- search profiles
.language-search label {
display: block;
margin: 1rem 0 -1rem;
}

.language-search .button-submit {
margin-right: 1rem;
margin-top: 1rem;
}
.language-search :nth-child(5){
margin-right: 0;
}

