// pages
// - page specific styles

// ––––––––––––––––––––––––––––––––––––––––––––––––––
// home page
.page-content.home {
    position: fixed;
    width: 100%;
    right: 0;
    z-index: 1;
    .main-section:first-child {
        margin-top: 0;
        height: 100vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }
    .main-section .button-input {
        margin-top: 2rem;
        @media only screen and (min-width: 600px) {
            margin-top: 3rem;
        }
    }
}

// background - home page only
.video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}



// ––––––––––––––––––––––––––––––––––––––––––––––––––
// view talks page
.talks-list {
    list-style: none;
    display: flex;
    flex-direction: column;
}



// talk list item
.talk {
    &-event {
        display: flex;
        flex-direction: column;
        @media only screen and (min-width: 600px) {
            flex-direction: row;
            align-items: center;
        }
        margin-bottom: 1rem;
        padding: 1rem;
        border-radius: 1rem;
        color: $black;
        background-color: rgba($white, 0.75);
        &.past {
            background-color: rgba($grey, 0.75);
        }
    }
    // subject
    &-subject {
        border-bottom: 2px solid;
        @media only screen and (min-width: 600px) {
            width: 30%;
            border-bottom: none;
            margin-bottom: 0;
        }
    }
    // all other details
    &-meta {
        width: 100%;
    }
    @media only screen and (min-width: 600px) {
        &-details {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}


// talk text and tags
.speaker span,
.date-time {
    font-size: 1rem;
    color: $grey;
    .past & {
        color: $off-white;
    }
    @media only screen and (min-width: 600px) {
        font-size: 1.5rem;
    }
    span {
        display: block;
    }
}
// tags
.talk-tags {
    padding-top: 1rem;
}
.tag {
    padding: 0.6rem 0.7rem;
    margin-right: 0.7rem;
    font-size: 1.25rem;
    // colours
    $tags : 'html', 'css', 'js', 'sql', 'node';   
    $colour_codes : $html, $css, $js, $sql, $node;
    @for $i from 1 through length($tags) {
        &.#{nth($tags, $i)} {
            background-color : nth($colour_codes, $i);
            color: $white;
        }
    }
    &.js,
    &.sql {
        color: $black;
        border: 1px solid $black;
    }
}




// ––––––––––––––––––––––––––––––––––––––––––––––––––
// dashboard page
.username {
    margin-left: 1.25rem;
    padding: 1rem 1.25rem 0.75rem;
    background-color: $yellow;
    color: $black;
}