<main class="page-content home">
    <section class="main-section">
        <h1>403: Forbidden</h1>
        <p>You must be logged in to add a talk. Alternatively, you can view talks</p>
        {{> talkbuttons}}
    </section>
</main>