<main class="page-content home">
    <section class="main-section">
        <h1>404: Page not found</h1>
        <p>Nothing is here, you searched for a page that does not exist</p>
        <button class="button-input"><a href="/view-talks">View Talks</a></button>
    </section>
</main>