<main class="page-content home">
    <section class="main-section">
        <h1>500: Server Error</h1>
        <p>Something ain't working right</p>
        <button class="button-input"><a href="/view-talks">View Talks</a></button>
    </section>
</main>