<main class="page-content view-talks">
    <section class="main-section">
        <h1>Hello _username_</h1>
        <p>Here you can add a talk, edit your talks, and view bookmarked talks.</p>
    </section>
    <section class="main-section" id="add-talk">
        <h2>Add Talk</h2>
        <p>if user has talks, show list of talks, with edit talk button, to go to edit talk page/ section</p>
        <p>if user has no talks, show add talk form</p>
    </section>
    <section class="main-section" id="your-talks">
        <h3>Your Talks</h3>
        <!--
            if no talks found for user:
                You have contributed no talks yet, add your talk above
            else
                display all talks    
        -->
    </section>
    <section class="main-section" id="your-talks">
        <h3>Bookmarked Talks</h3>
        <!--
            if no bookmarks found for user:
                You have no bookmarks yet, bookmark talks here (link to view-talks) - show bookmark option when logged in
            else
                display all talks bookmarked by user  
        -->
    </section>
</main>