<main class="page-content home">
    <section class="main-section">
        <h1>Lightning Talks</h1>
        <p>View and book your own Lightning Talk with FAC</p>
        <div class="row">
            <button class="button-input has-icon"><a href="/dashboard">Add Talk <span class="button-icon">+</span></a></button>
            <button class="button-input has-icon login"><a href="/view-talks">View Talks <span class="button-icon">></span></a></button>
        </div>
    </section>
</main>
<video class="video-background" autoplay muted loop id="homeVideo">
  <source src="videos/lightning-bolt-video.mp4" type="video/mp4">
</video>