<main class="page-content home">
    <section class="main-section">
        <h1>Lightning Talks</h1>
        <p>View and book your own Lightning Talk with FAC</p>
        {{> talkbuttons}}
    </section>
</main>
<video class="video-background" autoplay muted loop id="homeVideo">
  <source src="videos/lightning-bolt-video.mp4" type="video/mp4">
</video>