<nav class="nav-menu">
    <a href="#" class="burger-menu" class="key">
        <div></div>
        <div></div>
        <div></div>
    </a>
    <ul class="app-drawer">
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Add Talk</a></li>
        <li><a href="/view-talks">View Talks</a></li>
    </ul>
    <!-- menu sound -->
    <audio class="sound-menu" src="sounds/thunder_sound.mp3"></audio>
</nav>