<div class="row">
    <button class="button-input has-icon"><a href="/dashboard">Add Talk <span class="button-icon">+</span></a></button>
    <button class="button-input has-icon login"><a href="/view-talks">View Talks <span class="button-icon">></span></a></button>
</div>